html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.styled-table {
    border-collapse: collapse;
    margin: auto auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 500px;
    width: 50%;
    table-layout: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.centered-div-30 {
    max-width: 30%;
    margin: auto auto;
}

.centered-div-50 {
    max-width: 50%;
    margin: auto auto;
}

hr {
    margin: auto auto;
}

tr {
    background-color: antiquewhite;
}

tr:hover {
    background-color: navajowhite;
}

button {
    border-radius: 5px 5px;
    border-width: 2px;
}

.delete {
    background-color: orangered;
    color: lightyellow;
    border-color: lightyellow;
}

.accept {
    background-color: royalblue;
    color: aliceblue;
    border-color: aliceblue;
}

input, textarea {
    background-color: whitesmoke;
    color: black;
}

textarea {
    width: 100%;
}

input:focus, textarea:focus {
    background-color: aliceblue;
    color: midnightblue;
}

.title-cell, .description-cell {
    text-align: left;
    padding-left: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.title-cell {
    width: 20%;
}

.description-cell {
    width: 60%;
}

.hyperlink:hover {
    cursor: pointer;
    text-decoration: underline;
}
