@page
@model IndexModel
@{
    ViewData["Title"] = $"Tasks for date {Model.DateFilter:d}";
}

<div class="text-center">
    <form method="post" asp-page-handler="DateChanged">
        <label for="task-date">Displaying tasks for date: </label>
        <input type="date" asp-for="DateFilter" id="task-date" oninput="this.form.submit()" name="TaskDate" />
        <button type="submit" class="accept" asp-page="ModifyTask" asp-page-handler="AddOrUpdate">Add new task</button>
    </form>
    <br />
    @if (!Model.Tasks.Any())
    {
        <h2>No tasks for date @Model.DateFilter.ToString("d")!</h2>
    }
    @if (Model.TasksToDo.Any())
    {    
        <h2 style="color:indianred">To do</h2>
        @Html.Partial("_TaskTable", Model.TasksToDo)
    }
    @if (Model.DoneTasks.Any())
    {
        <h2 style="color:yellowgreen">Done</h2>
        @Html.Partial("_TaskTable", Model.DoneTasks)
    }
</div>
